/*
	BOXCAT: ACCORDION
	Author/Copyright: Jake Harris (javakatdesign@gmail.com)
	
	A purely-css accordion that allows for multiple content entries under each header (in case you need that for something, I don't know! Don't ask me, you're the web developer).
	See boxkat-accordion-chk for accordion-checkgroup hybrids (for forms).
	
	USE:
	<div class="boxkat-accordion">
		<div class="boxkat-accordion-molecule">
			<input type="checkbox" class="boxkat-accordion-content-toggle" id="content-toggler-X" />
			<div class="boxkat-accordion-atom boxkat-accordion-header">
				<label for="content-toggler-X" class="boxkat-accordion-chk">
					<span class="boxkat-accordion-heading">YOUR HEADER HERE</span>
					<span class="boxkat-accordion-subtitle">YOUR ALT TEXT HERE</span>
				</label>
			</div>
			<div class="boxkat-accordion-content">
				<div class="boxkat-accordion-atom">
					<span class="boxkat-accordion-heading">YOUR HEADER HERE</span>
					<span class="boxkat-accordion-subtitle">YOUR ALT TEXT HERE</span>
				</div>
				<div class="boxkat-accordion-atom">
					<span class="boxkat-accordion-heading">YOUR HEADER HERE</span>
				</div>
			</div>
		</div>
	</div>
*/
.boxkat-accordion {
    min-width:60%;
    width:100%;
    display:inline-block;
    color:#fff;
    font-family: MS Shell Dlg, Calibri, Arial;
    overflow:hidden;
}
.boxkat-accordion-molecule
/* A molecule is a unit comprised of a header (what's displayed when the accordion is collapsed) and its content elements (the things that get displayed when the accordion expands). */
 {
}
.boxkat-accordion-atom {
    position:relative;
    color:#fff;
    padding:.75em;
    cursor:pointer;
    display:block;
}
.boxkat-accordion-atom.boxkat-accordion-header {
    background: #496e9c;
    color: #fff;
    cursor:pointer;
    position:relative;
    width:100%;
}
input.boxkat-accordion-content-toggle {
    display:none;
}
.boxkat-accordion-atom.boxkat-accordion-header > label.boxkat-accordion-chk {
    cursor:pointer;
    color: #fff;
}
.boxkat-accordion-atom.boxkat-accordion-header .boxkat-accordion-heading {
    color: #fff;  
}
.boxkat-accordion-atom.boxkat-accordion-header .boxkat-accordion-subtitle {
    color: #183a65;
}
input[type="checkbox"].boxkat-accordion-content-toggle:checked ~ .boxkat-accordion-content {
    display:block;
    overflow:hidden;
}
.boxkat-accordion-content {
    display:none;
    width:100%;
    position:relative;
    left:10%;
	background: #f68026;
}

.boxkat-accordion-content > .boxkat-accordion-atom > .boxkat-accordion-heading {
    color:#fff;
}
.boxkat-accordion-content > .boxkat-accordion-atom > .boxkat-accordion-subtitle {
    color:#a04c0c
}
/*
.boxkat-accordion-header
{
	background: #a4b7ce;
	color: #fff;
	padding:12px 12px 12px 12px;
	cursor:pointer;
	position:relative;
}
.boxkat-accordion-header:hover
{
	background: #496e9c;
}
input[type="checkbox"].boxkat-accordion-chk:checked + .boxkat-accordion-header
{
	background: #496e9c;
}
.boxkat-accordion-header > label
{
	cursor:pointer;
}
.boxkat-accordion-header > label > span
{
	color: #183a65;
	padding-right:36px;
}
.ddl-clickie
{
	display:inline-block;
	position:absolute;
	left:92.25%;
	top:0;
	background:#a4b7ce;
	padding:11px 12px 12px 11px;
}
input[type="checkbox"].ddl-checkbox:checked + .boxkat-accordion-content-wrapper
{
	display:block;
	overflow:hidden;
}
.boxkat-accordion-content-wrapper
{
	display:none;
}
.boxkat-accordion-content
{
	position:relative;
		left:7%;
	color:#fff;
	padding:12px 12px 12px 12px;
	cursor:pointer;
	background:#f9aa6e;
	display:block;
}
.boxkat-accordion-content:hover
{
	background:#f68026;
}
.boxkat-accordion-content > span
{
	color:#a04c0c;
	width:60%;
}
input[type="checkbox"].boxkat-accordion-content-chk:checked + .boxkat-accordion-content
{
	background:#f68026;
}*/